{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block content %}
<h1>Welcome to the E-commerce Site</h1>
<a class ="btn btn-primary"href="{% url "add_product" %}">Add a Product</a>

<div class="container row gap-3"></div>
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">

                <h5 class="card-title">{{ user.username }}</h5>
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Price: ${{ product.price }}</p>    
                <p class="card-text">Category: {{ product.category.name }}</p>
                <p class="card-text">Rating: {{ product.rating }}</p>
                <p class="card-text">Stock: {{ product.stock }}</p>
                <p class="card-text">Created At: {{ product.created_at }}</p>
                <p class="card-text">Updated At: {{ product.updated_at }}</p>
                {% if product.user == user %}
                <a href="{% url 'edit_product' product.id %}" class="btn btn-secondary">Edit</a>
                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                {% comment %} <a href="{% url 'product_delete
                
                {% comment %} <a href="{% url 'product_list' product.id %}" class="btn btn-primary">View Details</a> {% endcomment %}
                 {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    
{% endblock content %}
