{% extends "base.html" %}

{% block title %}

{% endblock title %}

{% block content %}
<h1>Welcome to the E-commerce Site</h1>
<h2>serach result</h2>
{% if products %}
    <li>
        {% for product in products %}
        <li>   
        <a href="{% url "product_list" %}"><img src="{{ product.image.url }}" alt="{{ product.name }}" width="200"></a>

            <a href="{% url "product_list" %}">{{ product.name }}-{{product.image.url}}</a>
    </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No products found.</p>
{% endif %}

</div>

{% endblock content %}